<section class="select-filters">
  <h2>Filters</h2>
  <div class="species">
    <h4>Species</h4>
    <ul>
      <li><input type="checkbox" name="" id="">Human</li>
      <li><input type="checkbox" name="" id="">Alien</li>
      <li><input type="checkbox" name="" id="">Mythalog</li>
    </ul>
  </div>
  <div class="gender">
      <h4>Gender</h4>
      <ul>
        <li><input type="checkbox" name="" id="">Male</li>
        <li><input type="checkbox" name="" id="">Female</li>
      </ul>
    </div>
    <div class="origin">
        <h4>Origin</h4>
        <ul>
          <li><input type="checkbox" name="" id="">Earth</li>
          <li><input type="checkbox" name="" id="">Abadango </li>
          <li><input type="checkbox" name="" id="">Unknown</li>
        </ul>

      </div>
</section>
